
@font-face {
  font-family: "MOSCOW2024";
  font-style: normal;
  font-weight: 400;

  
  src: url("../fonts/MOSCOW2024.woff") format("woff")
       
       
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
  (keys to remember is all of it is interactive elements)
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. I usually use ul li to have a list of elements and find the
default padding is sometimes annoying to me
*/
ul {
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.header{
  display: flex;
  padding: 1%;

}

.logo_head h1{
  color: rgb(46, 96, 121);

}
.logo{
  display: flex;

}
.logo img{
  height: 50px;
  width: 50px;
  margin: 10px
}

/*  градиент заливки тело страницы*/
body{
  background-image: linear-gradient(
    45deg,
    hsl(198deg 41% 25%) 0%,
    hsl(199deg 32% 32%) 14%,
    hsl(199deg 25% 40%) 29%,
    hsl(195deg 22% 48%) 43%,
    hsl(193deg 23% 56%) 57%,
    hsl(193deg 29% 64%) 71%,
    hsl(193deg 39% 73%) 86%,
    hsl(192deg 56% 81%) 100%
  );
  
  
}
/*  нижнее блок для размещения в нем навигации*/

/*основной контент  */
main{
  min-height: 82vh;
  display: flex; /*  делает элементы блочными*/
  flex-grow: 1;
  flex-direction: column; 
  margin-bottom: 8vh;/*  вытягивает на всю высоту экрана*/
}
/* Заголовок страниц */
.header-title h1{
  float: left;
  font-size: 60px;
}
/* Панель навигации */
.bottom-nav { 
  background-color: rgb(99,99,99);
  display: flex; 
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  justify-content: space-around; 
  align-items: center; 
  position: fixed; 
  bottom: 0; 
  width: 100%;
  height: 8vh;
    
}

/* Стиль ссылок внутри панели навигации */
.bottom-nav a {
  float: left;
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  
}

/* Изменение цвета ссылок при наведении курсора в панели навегации */
.bottom-nav a:hover {
 
  color: black;
}

/* Добавить цвет для активной/текущей ссылки активируется скриптом в head */
.bottom-nav a.active {
  font-size: 35px;
  color: #5983fc;
}
/* класс выравнивания по центру */
.aligncenter img{
  justify-content: center;
}

/* размер иконок в навигации */
 .icons{
  width: 50px;
  height: 50px;
  align-self: center;
 }

/*  поле ввода на всех страницах*/
.form-control {
 max-width: 98%;
 height: 5vh;
 font-size: 30px;
}


/*  таблица вывода результата*/
.search-result{
  font-size: 40px;
}

/*  стиль заголовков таблицы*/
.table thead th{
  background: rgb(99,99,99);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: #fff;
}

/* стиль строк в таблице */
.table tbody td{
  font-size: 45px;
  font-weight: 500;
  padding: 0;
}

/*  окрашивание статуса в красный в таблице*/
.status-new{
  margin: 0;
  background-color: rgb(255, 66, 66);
  color: white;
  font-weight: 700;
}

/*  окрашивание статуса в зеленый в таблице*/
.status-full{
  margin: 0;
  background-color: rgb(0, 175, 0);
  color: white;
  font-weight: 700;
}
/*  объединение ссылок в виде кнопок в группу */
.button-block{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

/*  */
.btn-link{
  margin:20px;
  vertical-align: center;

  /*  стилизация ссылок под кнопки*/
}
.btn-link a{
  height: 150px;
  width: 450px;
  font-size: 50px;
  text-align: left;
  color: white;
  background-color: #1f9ce4;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 25px;
}

/* стиль кнопок выбора линии */
.btn-link-mini{
  margin:20px;
  vertical-align: center;
  
  
/* стиль кнопок выбора линии */ 
}
.btn-link-mini a{
  height: 400px;
  width: 76%;
  font-size: 40px;
  text-align: left;
  background-image: url('../icons/scaner_grey.png');
  color: white;
  background-color: #2777f05e;
  background-size: 68px 68px;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 20px;
  
}
.btn-link-mini h5{
  font-size: 40px;
}
/* зеленый статус внутри кнопки */ 
.green{
  height: 60px;
  width: 250px;
  font-size: 40px;
  text-align: center;
  color: white;
  background-color: #27f067cd;
  margin-top: 20px;
  border-radius: 25px;
}
/* красный статус внутри кнопки */ 
.red{
  height: 60px;
  width: 250px;
  font-size: 40px;
  text-align: center;
  color: white;
  background-color: #f02727cd;
  margin-top: 20px;
  border-radius: 25px;
 
}
/* наименования полей внутри кнопки */ 
.field_name{
  font-size: 30px;
  color: rgb(99, 99, 99);
}
.btn-link-mini p{
  margin: 0%;
}
/* стиль счетчика */
.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  
}
.counter p{
  display:flex;
  height: 250px;
  width: 95%;
  border: solid 2px;
  border-color: #0c78d7;
  border-radius: 15px;
  padding: 10px 10px;
  margin: 1%;
  margin-top: 25px;
  font-size: 60px;
  font-weight: 700;
  align-items: center;
  justify-content: center
}

.lcd-display{
  font-family: 'MOSCOW2024';
  font-size: 100px;
  padding-left: 30px;
  
  align-items: center;
}
.lcd-display input{
  text-align: right;
  max-width: 350px;
  border-radius: 25px;
}
/* блок "разработано специально для..." */
.developer{
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;

}
.developer-atesco{
  display: flex;
  width: 100%;
  align-content: center;
  background-color: rgb(99,99,99);
  
}
.atesco-conteiner{
  display: flex;
  flex-direction: row;
  margin: 0 auto
}
.atesco-conteiner h2{
  font-size: 50px;
 
  color: white;
  margin-left: 30px;
  margin-bottom: 0;
  border-left: 5px;
  border-color: #2f1fe4;
}
.atesco-logo {
  width: 285px;
  height:auto;
  border-right: 5px;
  border-color: #2f1fe4;
}
.putina-conteiner{
  margin: 30px;
}
/* Общий стиль для всех сообщений */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 10px; /* Скругление углов */
    font-family: Arial, sans-serif;
    font-size: 40pt;
    color: white;
    opacity: 0.9; /* Полупрозрачность */
    position: relative;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Анимация появления */
}

/* Стиль для успешных сообщений */
.alert-success {
    background-color: rgba(50, 205, 50, 0.8); /* Полупрозрачный зеленый */
    border-color: rgba(34, 139, 34, 0.8); /* Темно-зеленая рамка */
}

/* Стиль для сообщений об ошибке */
.alert-error {
    background-color: rgba(255, 0, 0, 0.8); /* Полупрозрачный красный */
    border-color: rgba(139, 0, 0, 0.8); /* Темно-красная рамка */
}

/* Кнопка закрытия сообщения */
.alert .btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 16pt;
    color: white;
    border: none;
    background: transparent;
    cursor: pointer;
}

.alert .btn-close:hover {
    color: #ccc; /* Светлый оттенок при наведении */
}

/* рамка вокруг формы создания задания на палетирование */
.task_create_frm{
  height: 230px;
  width: 95%;
  
  background-image: url('../icons/new_file.png');
  
  background-color: #63c4f56b;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 30px;
  margin:20px;
  padding-left: 25px;
  

}
/* стилизация text area под обычный текст на странице */
.text_area_task_create textarea{
  max-width: 80%;
  font-size: 40px;
  color:#1f7be4;
  font-weight: 700;
  border-radius: 20px;
  padding-left: 10px;
}


.hide_text_area textarea{
  max-width: 80%;
  font-size: 40px;
  color:#1f7be4;
  font-weight: 700;
  border-radius: 20px;
  padding-left: 10px;
  background-color: transparent;
  border: none;

/* Кнопка с зеленой галочкой */
}
.btn-primary{
  font-size: 40px;
  border-radius: 20px;
  background-image: url('../icons/check.png');
  background-size: 50px 50px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 50px;
}
/* редактирование светлой кнопки bs */
.btn-light{
  font-size: 40px;
  border-radius: 15px;
  background-color: #1f9ce4;

}
.btn-light h5{
  font-size: 32px;
  font-weight: 700;
}
.btn-light h4{
  font-size: 24px;
  
}
/* Стилизация текста на странице с разными параграфами */
.par_1{
  font-size: 40px;
  font-weight: 500;
  color: rgb(99, 99, 99);
  padding-left: 5px;
}
.par_2{
  font-size: 40px;
  font-weight: 500;
  color: rgb(99, 99, 99);
  padding-left: 25px;
  min-width: 50%;
}
.par_3{
  font-size: 40px;
  font-weight: 500;
  color: rgb(193, 95, 95);
  padding-left: 25px;
}
/* делает кнопки невидимыми */
.hide_btn{
  background-color: transparent;
  border: none;
}

.empty{
  padding-left: 25px;
}

.submit_btn{
  background-color: #1f7be4;
  font-size: 40px;
  font-weight: 700;
  color: white;
  border-radius: 15px;
  border: #1f7be4;
  padding: 25px;
}
.btn_block_row{
  display: flex; 
  position: fixed; 
  bottom: 0; 
  width: 100%;
  padding: 15px;

}
.complete_btn{
  background-color: rgb(25, 192, 84);
  font-size: 40px;
  font-weight: 700;
  color: white;
  border-radius: 15px;
  border: #1f7be4;
  margin: 25px;
  width: 100%;
}

.cancel_btn{
  background-color: #e4461f;
  font-size: 40px;
  font-weight: 700;
  color: white;
  border-radius: 15px;
  border: #1f7be4;
  margin: 25px;
}
/* стилизация списка групповых кодов под таблицу */
.kitu_list{
  padding-left: 25px;
  font-size: 24px;
  font-weight: 700;
}
ol {
  
  padding: 0;
  margin: 0;
  
  width: 100%;
  max-width: 600px;
 
}

/* Стили для элементов списка */
ol li {
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

/* Чередование цвета фона */
ol li:nth-child(odd) {
  background-color: #f9f9f97d; /* Цвет для нечетных строк */
}

ol li:nth-child(even) {
  background-color: #e9e9e978; /* Цвет для четных строк */
}

/* Убираем границу у последнего элемента */
ol li:last-child {
  border-bottom: none;
}
.main_head{
  width: 98%;
  display: flex;
  flex-direction: row;
}
.main_head_left{
  max-width: 70%;
}
/* скрытие иконок при малом разрешении */
@media screen and (max-width: 500px) {
	.icons{
		display: none;
	}
  .bottom-nav a {
   
    padding: 1px 1px;
    text-decoration: none;
    font-size: 38px;
  }
  .loger textarea {
    min-width: 90%;
  }
}

