{% extends 'tsd/base.html' %}
{% load static %}

{% block title %} Pallet {% endblock %}
{% block head %}
    <div class="logo_head">  

        <h1>Паллетирование</h1>
    </div>

{% endblock %}
{% block content %}
    <!--Здесь будет список линий-->
    
    <h4 class="par_2">Выберите линию для работы</h4>
    
    <div class="button-block">
    {% for val in data %}
        
            <div class="btn-link-mini">
                <a href = "{% url 'palletizing:orderLine' val %}" class="btn btn-light">
                    {% for k, v in val.items %}
                        <p class="field_name">{{ k }}</p>
                        {% if v == 'Доступна' %}
                            
                            <div class="green"><p>{{ v }}</p></div>
                        {% elif v == 'Недоступна' %}
                            
                            <div class="red"><p>{{ v }}</p></div>
                        {% else %}
                            
                            <p>{{ v }}</p>
                        {% endif %}
                        
                    {% endfor %}</a>
            </div>
        
    {% endfor %}
    </div>
{% endblock %}