{% extends 'tsd/base.html' %}
{% load static %}

{% block title %} Order {% endblock %}
{% block head %}
    <div class="logo_head">  

        <h1>Доступные задания на линии</h1><br>
        <h1>{{ NameLine }}</h1>

    </div>

{% endblock %}
{% block content %}
    <!--Здесь будет список заданий-->
    
        <h4>Выберите задание </h4>
    
    <div class="button-block">
    {% for k in Batch %}
        
            <div class="btn-link">
                <a href = "{% url 'palletizing:startPalleting' %}" class="btn btn-info">

                        <h5>{{ k }}</h5>
                </a>
            </div>
        
    {% endfor %}
    {% for k in Batch %}
        
            <div class="btn-link">
                <a href = "{% url 'palletizing:startPalleting' %}" class="btn btn-info">

                        <h5>{{ k }}</h5>
                </a><br>
            </div>
        
    {% endfor %}
    </div>
{% endblock %}