{% extends 'tsd/base.html' %}
{% load static %}

{% block title %} Beginning Pallet {% endblock %}
{% block head %}
    <div class="logo_head">
        <h1>Начало работы</h1><br>
    </div>
{% endblock %}

{% block content %}
    <!--Здесь будет список заданий-->
    <div class="task_create_frm">
        <h4 class="par_1"> Выбрано задание: </h4>

        <!--Кнопка создания задания для линии-->
        <form  action="{% url 'palletizing:palletField' %}" method="post">
            {% csrf_token %}
            <div class="hide_text_area"> {{ form.taskField }}<br></div>
            <button type="submit" name="resume" class="btn btn-primary">Продолжить задание</button>
            <br>

        </form>
    </div>
{% endblock %}