{% extends 'tsd/base.html' %}
{% load static %}

{% block title %} Beginning Pallet {% endblock %}
{% block head %}
    <div class="logo">
        <h1>Начало работы</h1><br>
    </div>
{% endblock %}

{% block content %}
    <!--Здесь будет список заданий-->

        <h4> Подтвердите начало работы </h4>

        <div class="button-block">
            <div class="btn-link-mini">
                <a href = "{% url 'palletizing:palletField' %}" class="btn btn-info">Начать паллет</a><br>
            </div>
        </div>
{% endblock %}