{% extends 'tsd/base.html' %}
{% load static %}

{% block title %} Beginning Pallet {% endblock %}
{% block head %}
    <div class="logo">
        <h1>Начало работы</h1><br>
    </div>
{% endblock %}

{% block content %}
    <!--Здесь будет список заданий-->

        <h4> Подтвердите начало работы </h4>

        <!--Кнопка создания задания для линии-->
        <form  action="{% url 'palletizing:palletField' %}" method="post">
            {% csrf_token %}<br>
            {{ form.taskField }}<br>
            <button type="submit" name="resume">Продолжить задание</button>
            <br>

        </form>
{% endblock %}