{% extends 'tsd/base.html' %}
{% load static %}

{% block title %} Order {% endblock %}
{% block head %}
    <div class="logo">  

        <h1>Доступные задания на линии</h1><br>
        <h1>{{ NameLine }}</h1>

    </div>

{% endblock %}
{% block content %}

    <!--Кнопка создания задания для линии-->
    <form  action="{% url 'palletizing:palletField' %}" method="post">
        {% csrf_token %}<br>
        {{ form.taskField }}<br>
        <input type="submit" name="Submit"/>
    </form>


    <!--Здесь будет список заданий-->
    <div class="button-block">
        <h4>Последние созданные задания </h4>
    </div>
    {% for k in Batch %}
        <div class="button-block">
            <a href = "{% url 'palletizing:startPalleting' %}" class="btn btn-info">
                <h5>{{ k }}</h5>
                <h5>Возможно добавим наименование продукта</h5>
            </a><br>
        </div>
    {% endfor %}

{% endblock %}